<div class="app" id="app">
  <h1>Random app has a random title </h1>
  <app-lorum-ipsum-with-img></app-lorum-ipsum-with-img>
  <app-more-text></app-more-text>
  <app-screenshot></app-screenshot>
  <app-ngx-screenshot></app-ngx-screenshot>
  <div class="container">
    <h1>Example Form</h1>

    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" class="form-control">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="form-control">
      </div>

      <div class="form-group">
        <label for="favorite-number">Favorite Number</label>
        <input type="number" id="favorite-number" name="favorite-number" class="form-control">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="field4" name="password" class="form-control">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <p>This is some example text below the form.</p>

    <img class="image" src="../assets/istockphoto-1003782960-2048x2048.jpg" alt="Example Image">
  </div>
</div>
